[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
langchain = "*"
langchain-community = "*"
huggingface-hub = "*"
transformers = "*"
jinja2 = "*"
streamlit = "*"
sentence-transformers = "*"
faiss-cpu = "*"
langchain-huggingface = "*"
datasets = "*"

[dev-packages]

[requires]
python_version = "3.12"
